@{
    Layout = "~/Views/Shared/Layout1.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
   <p>We Provide Online shopping facilite</p>
     @Html.ActionLink("Contact", "Contact")
    <br/><p>
        </article>