@{
    Layout = "~/Views/Shared/Layout1.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Mob:</span>
        <span>0335-0415999</span>
    </p>
    
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Email:</span>
        <span><a href="mail.google.com">bcsf12m048@pucit.edu.pk</a></span>
    </p>
    
</section>

<div>
    <header>
        <h3>Address</h3>
    </header>
    <p>
        Punjab University College of Information Technology
    </p>
    </div>