@{
    ViewBag.Title = "Safety Shoes";
}
<header></header>

<h2 style="font-size:50px">Safety Shoes</h2>


<html>
<body>
                <div class="row">

                     <div class="col-sm-4 col-lg-4 col-md-4">
                      <div class="thumbnail">
                           <div class="image">
							    		<a href="#"><img src="~/images/download.jpg" alt="" /></a>
							    	</div>
							    	<p>
							    		Item Number: <span>125515</span><br />
							    		Size List : <span>8/8.5/9.5/10/11</span><br />
							    		Brand Name: <a href="#">CAT</a>
							    	</p>
							    	<p class="price">Wholesale Price: <strong>53 USD</strong></p>
                          </div>
                         </div>

                   <div class="col-sm-4 col-lg-4 col-md-4">
                      <div class="thumbnail">
                             <div class="image">
							    		<a href="#"><img src="~/images/steeltoe.jpg" alt="" /></a>
							    	</div>
							    	<p>
							    		Item Number: <span>1254876</span><br />
							    		Size List : <span>8/8.5/9.5/10/11</span><br />
							    		Brand Name: <a href="#">CAT</a>
							    	</p>
							    	<p class="price">Wholesale Price: <strong>53 USD</strong></p>
                          
                        
                        </div>
                    </div>               
                </div>

</body>

</html>
