@{
    ViewBag.Title = "Sport Shoes";
}

<h2 style="font-size:50px">Sport Shoes</h2>

<html>
<body>
                <div class="row">

                     <div class="col-sm-4 col-lg-4 col-md-4">
                      <div class="thumbnail">
                             <div class="image">
							    		<a href="#"><img src="~/images/im1.jpg" alt="" /></a>
							    	</div>
							    	<p>
							    		Item Number: <span>127845</span><br />
							    		Size List : <span>8/8.5/9.5/10/11</span><br />
							    		Brand Name: <a href="#">Addidas</a>
							    	</p>
							    	<p class="price">Wholesale Price: <strong>53 USD</strong></p>
                          
                        
                        </div>
                    </div>      
                 

                   <div class="col-sm-4 col-lg-4 col-md-4">
                      <div class="thumbnail">
                             <div class="image">
							    		<a href="#"><img src="~/images/im2.jpg" alt="" /></a>
							    	</div>
							    	<p>
							    		Item Number: <span>190345</span><br />
							    		Size List : <span>7/8/8.5/9.5/10/11</span><br />
							    		Brand Name: <a href="#">Addidas</a>
							    	</p>
							    	<p class="price">Wholesale Price: <strong>50 USD</strong></p>
                          
                        
                        </div>
                    </div>               
                </div>
    </body>
    </html>