@{
    Layout = "~/Views/Shared/Layout1.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
@*   <p>We Provide Online shopping facilite</p>*@
     @Html.ActionLink("About this Website", "AboutUs")
    <br/><p>
      
    @*    We Provide Online shopping facility.<br/><br/>*@
    </p>

    <p>
        
    </p>
</article>

